// -----------------------------------------------------------------------------
// This file contains all @font-face declarations.
// -----------------------------------------------------------------------------
// Recoleta Alt - Regular
@font-face {
    font-family: 'Recoleta-Alt-Regular';
    src: url(../fonts/Recoleta-Alt-Regular.otf);
}

// Recoleta Alt - Black
@font-face {
    font-family: 'Recoleta-Alt-Black';
    src: url(../fonts/Recoleta-Alt-Black.otf);
}